{% extends "base/base.html" %}
{% block content %}

    <div class="container">
        <h2 style="margin-top: 100px; text-align: center;">Profile Page </h2>
    <br>
    <br>
        <div class="card shadow-lg" style="width:100%; padding: 30px;">
            <div class="row">
                <div class="col">
                    <h3> {{user.user.first_name}} {{user.user.last_name}}</h3>
                    <h6>{{user.age}} y.o.</h6>
                </div>
                <div class="col" style="text-align: right;">
                    <img style="width:95px" src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Prescription02&hairColor=BlondeGolden&facialHairType=BeardMedium&facialHairColor=Blonde&clotheType=BlazerShirt&clotheColor=Heat'/>
                </div>
            </div>
            <br>
            <div class="row">
                <h5 > <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                  </svg> <span style="padding: 40px;">Experience  : {{user.experience}} Years </span></h5>
                <br>
                <h5> <img src="https://cdn-icons-png.flaticon.com/512/2/2087.png" style="width: 26px; height:26px" alt=""> <span style="padding: 40px;"> Over Drives : {{user.over_drive}} times</span></h5>
                <br>
                <br>
                <hr>
                <br>
                <h4>About</h4>
                <p style="margin-left: 15px;">{{user.about}}</p>
                <hr>
            </div>
            
            <div class="row">
                <h4>Address</h4>
                <br>
                <br>
                <div class="col-md">
                    <h6>City: {{user.city}}</h6>
                </div>
                <div class="col-md">
                    <h6>State : {{user.state}}</h6>
                </div>
                <div class="col-md">
                    <h6>Country : {{user.country}}</h6>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <h6>Address : {{user.address_line}} </h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Diving Features</h4>
                <br>
                <br> 
                <div class="col">
                    <h6>
                    <svg xmlns="http://www.w3.org/2000/svg"  width="25" height="25" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                      </svg> <span style="padding: 40px;"> {{user.talking}}</span></h6>
                      <br>
                      
                      <h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
                          </svg> <span style="padding: 40px;"> {{user.music}}</span></h6>

                        <br>
                        <h6>
                            <img src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png" style="width:25px; height:25px" alt=""> <span style="padding: 40px;"> {{user.pets}}</span></h6>

                            <br>
                            <h6>
                                <img src="https://cdn-icons-png.flaticon.com/512/565/565757.png" style="width:25px; height:25px" alt=""> <span style="padding: 40px;"> {{user.smoking}}</span></h6>
                </div>
            </div>
            <br>
            <div class="row text-center">
            <div class="col-md">
                <a style="background-color: rgb(58, 162, 189); color: whitesmoke; width: 30%;" href="{% url 'EditProfile' %}" style=" margin-left: 70%;" class="btn">Edit Profile</a>
            </div>
            <br>
            <br>
            <div class="col-md">
                <a style="background-color: rgb(58, 162, 189); color: whitesmoke; width: 30%;" href="{% url 'UserDrivePosts' %}" style=" margin-left: 70%;" class="btn">My Drives</a>
            </div>
        </div>

        </div>
    </div>
{% endblock %}
